span{
    color:red;
}
header , footer{
    background-color: #98a6f8;
    height: 20%;
    border-bottom: rgba(0, 0, 0, 0.589) 5px solid;
}
h2, h3{
    padding: 25px;
    color: white;
}
.scr{
    overflow-x: auto;
}